/*

NAV

*/

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}

h1 {
    padding-left: 10px;
}

.nav__logo--wrapper {

    display: flex;
    align-items: center;
}

.nav__links--wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list--wrapper {
    width: 60%;

}

a {
    text-decoration: none;


}

li {
    list-style-type: none;

}

.nav__button {
    padding: 10px 15px;
    background-color: purple;
    border-radius: 15px;


}

.sign--up--button {
    color: white;
}

/*

HEADER

*/

.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.header__description--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: space-between;


}

.header__img--wrapper {
    width: 60%;
    padding-top: 100px;
}

.header-image {
    width: 100%;
}

.treact-logo {
    height: 50px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;

}

.header--trusted-customers {
    font-size: 20px;
    color: rgb(97, 97, 97);

}

/*

SECTION 1

*/

.section1__container {
    padding: 80px 0;

}

.section1__row {
    width: 100%;
    max-width: 0 auto;
}

.title__para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.services {
    display: flex;
    flex-wrap: wrap;

}

.service {
    display: flex;
    width: calc(100%/3);

}

.service__description {
    display: flex;
    flex-direction: column;
    flex-direction: row;


}