/*

NAV

*/

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}

h1 {
    padding-left: 10px;
}

.nav__logo--wrapper {

    display: flex;
    align-items: center;
}

.nav__links--wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list--wrapper {
    width: 60%;

}

a {
    text-decoration: none;


}

li {
    list-style-type: none;

}

.nav__button {
    padding: 10px 15px;
    background-color: purple;
    border-radius: 15px;


}

.sign--up--button {
    color: white;
}

/*

HEADER

*/

.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.header__description--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    justify-content: space-between;


}

.header__img--wrapper {
    width: 60%;
    padding-top: 100px;
}

.header-image {
    width: 100%;
}

.treact-logo {
    height: 50px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;

}

.header--trusted-customers {
    font-size: 20px;
    color: rgb(97, 97, 97);

}

/*

SECTION 1

*/

.section1__container {
    padding: 80px 0;

}

.section1__row {
    width: 100%;
    max-width: 0 auto;
}

.title__para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}




.feature {
    width: 40%;
    margin: 0 auto;
}

.boxes {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    flex-wrap: wrap;
    display: grid;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .title__para {
        display: flex;
        align-items: right;
        font-size: 15px;
        padding-bottom: 30px;
    }

    .box__title {
        font-weight: bold;

    }

    .title__header--para {
        font-size: 17px;
        max-width: 25%;
        padding-bottom: 50px;
    }

    .title__head {
        font-size: 19px;
        color: rgb(94, 5, 142);
        
    }

    .feature__icon--wrapper {
        display: flex;
        align-items: center;
      }

      /*
      SECTION 2
      */

      .section2__container {
        padding: 96px 0;
      }


      .section2__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', system-ui;
        color: #243e63;

      }

     
      .section2__img__wrapper {
        width: 50%;
      }
      .section2__img {
        width: 100%;
        
      }

      .section2__description__wrapper {
        width: 50%;

      }

      .section2__title__head {
        font-size: 20px;
        max-width: 576px;
        margin-right: 64px;

      }

      h4 {
        font-size: 40px;
        max-width: 576px;
        margin-right: 64px;
      }

      .section2__para {
        font-size: 20px;
        max-width: 576px;
        margin-right: 64px;
      }
      
      /*
      SECTION 3
      */

      .section3__container {
        padding: 96px 0;
      }


      .section3__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', system-ui;
        color: #243e63;
      }

      .section3__img__wrapper {
        width: 50%;
      }

      .section3__img {
        width: 85%
      }

      .section3__description__wrapper {
        width: 50%;
      }




      /*
      SECTION 4
      */

      .section4__container {
        padding: 96px 0;
      }


      .section4__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', system-ui;
        color: #243e63;

      }

      .section4__img__wrapper {
        width: 50%;
      }

      .section4__img {
        width: 100%;
      }

      .section4__description__wrapper {
        width: 50;

      }

      .section4__title__head {
        font-size: 20px;
        max-width: 576px;
        margin-right: 64px;

      }

      h6 {
        font-size: 40px;
        max-width: 576px;
        margin-right: 64px;
      }

      .section4__para {
        font-size: 20px;
        max-width: 576px;
        margin-right: 64px;
      }

     .plans {
      display:flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      z-index: 100;
     }
    
     .plan {
      width:100%;
      max-width:384px;
      margin: 64px 32px 0 0;
      padding-top:8px;
      border-radius:8px;
      overflow: hidden;
      position: relative;
      z-index: 100;
     }

      

   